//slim -d "d_name='Bcalc_testing_basic'" Bcalc_testing_basic.slim

initialize() {
	//Variables
	
	defineConstant("bin_size", 200000);
	defineConstant("bin", 0);
	defineConstant("scale", 100);
	defineConstant("Na", asInteger(1e6/scale));
	
	///Set DFE constant	
	defineConstant("t0", 0.0);
	defineConstant("t1", -1.0/(2*Na));
	defineConstant("t2", -10.0/(2*Na));
	defineConstant("t3", -100.0/(2*Na));
	defineConstant("t4", -1.0);
	defineConstant("gamma_pos", 250);
	defineConstant("f_pos", 0);//fraction of beneficial mutations approxima
	defineConstant("f_del", (1.0-f_pos));//fraction of all deleterious classes
	defineConstant("f0", d_f0); //neutral
	defineConstant("f1", d_f1); //weakly del
	defineConstant("f2", d_f2); //mod del
	defineConstant("f3", d_f3); //strong del
	
	///Deleterious DFE
	initializeMutationType("m1", 0.5, "f", 0.0); //CDS coding (mostly synonymous sites), 2Nes = [0,-1]
	initializeMutationType("m2", 0.5, "s", "return runif(1, t2, t1);"); //CDS -1<2Nes<-10, uniform distribution
	initializeMutationType("m3", 0.5, "s", "return runif(1, t3, t2);"); //CDS moderately deleterious, -10<2Nes<-100, uniform distribution
	initializeMutationType("m4", 0.5, "s", "return runif(1, t4, t3);"); //CDS strongly deleterious, 2Nes>=-100, uniform distribution
	initializeMutationType("m5", 0.5, "f", 0.0); //neutral intergenic and intronic, 2Nes = 0
	
	///Beneficial Muts
	defineConstant("s_pos", gamma_pos/(2.0*Na));
	initializeMutationType("m6", 0.5, "e", s_pos); //beneficial class
	
	// g1 genomic element type: uses m1 for all mutations
	initializeGenomicElementType("g1", m5, 1.0); //neutral
	initializeGenomicElementType("g2", c(m1, m2, m3, m4, m6), c(f0*f_del, f1*f_del, f2*f_del, f3*f_del, f_pos)); //cds-utr
	
	/// Add genes

	initializeGenomicElement(g1, 1, 10000);
	initializeGenomicElement(g2, 10001, 20000);
        initializeGenomicElement(g1, 20001, 30000);
        initializeGenomicElement(g2, 30001, 40000);
        initializeGenomicElement(g1, 40001, 50000);
        initializeGenomicElement(g2, 50001, 60000);
        initializeGenomicElement(g1, 60001, 70000);
        initializeGenomicElement(g2, 70001, 80000);
        initializeGenomicElement(g1, 80001, 90000);
        initializeGenomicElement(g2, 90001, 100000);
        initializeGenomicElement(g1, 100001, 110000);
        initializeGenomicElement(g2, 110001, 120000);
        initializeGenomicElement(g1, 120001, 130000);
        initializeGenomicElement(g2, 130001, 140000);
        initializeGenomicElement(g1, 140001, 150000);
        initializeGenomicElement(g2, 150001, 160000);
        initializeGenomicElement(g1, 160001, 170000);
        initializeGenomicElement(g2, 170001, 180000);
        initializeGenomicElement(g1, 180001, 190000);
        initializeGenomicElement(g2, 190001, 200000);
	
	/// Read in rec rate and mut rate and add gene conversion based on rec rate
	mrate = 3e-9; //asFloat(Mline[bin]) * 1e-9;
//	Rline = readFile("/proj/johrilab/projects/DFE_REG/inputs/DmelRecMap/chr"+d_chr+".rrc"); //From Comeron et al 2012
//	rrate = 0.5 * 1e-8; //asFloat(strsplit(Rline[bin + 1], ",")[1]) * 1e-8/2;
//	print("Recombination rate line: " + Rline[bin + 1] + " Mut rate line: " + Mline[bin]);

	rrates = c(0.5,1.5,0.5,1.5,0.5) * 0.5 * 1e-8;
	rrateEnds = c(40001,80001,120001, 160001, 200001);
	
	initializeMutationRate(mrate * scale);
	initializeRecombinationRate(rates = rrates * scale, ends = rrateEnds); //Adding 1e-8 for GC
//	initializeGeneConversion(nonCrossoverFraction = 1-(rrate / (rrate + 1e-8)), meanLength = 440, simpleConversionFraction = 1); //Constant GC rate
}

// create a population of 500 individuals
1 early() {
	sim.addSubpop("p1", Na);
}

140000 early() {
	
for (x in 0:199){
toprint = calcHeterozygosity(genomes=p1.genomes, muts=sim.mutationsOfType(m5), start = (x*1000), end = (1000 + x*1000));

writeFile(c("/work/users/j/i/jimarsh/Bcalc/pi_out/" + d_name + "_R" + d_repID + ".pi"), c("Rep" + d_repID + " pi_starting " + (x*1000) + " : " + toprint) , append = T);
}

	sim.outputFixedMutations();
	print("N at the end of simulation: " + p1.individualCount);
	print("The last base in the chromosome: " + sim.chromosome.lastPosition + " (" + asInteger(sim.chromosome.lastPosition)/1000000 + "Mb)");
	print("Total nMutations = " + size(sim.mutations));
	print("Theta pi for all mutations = " + (calcHeterozygosity(genomes=p1.genomes)));
	print("Theta pi for m5 mutations = " + (calcHeterozygosity(genomes=p1.genomes, muts=sim.mutationsOfType(m5))));
	print("Theta pi for m5 mutations = " + (calcHeterozygosity(genomes=p1.genomes, muts=sim.mutationsOfType(m5), start = 10001, end = 50000)));
	print("B for m5 mutations = " + (calcHeterozygosity(genomes=p1.genomes, muts=sim.mutationsOfType(m5)))/0.012*2);
	print("m5 proportion of all mutations = " + (sim.countOfMutationsOfType(m5)/size(sim.mutations)));
}
